{% extends 'base.html' %}


{% block title %} • {{ sub.title }}{% endblock  %}


{% block content %}
{% if page_obj.object_list %}
    <div class="d-flex flex-column bd-highlight m-3">
    {% for post in page_obj.object_list %}
        <div class="subrabbit-post m-1 p-2">
            {% if post.post_type == post.TEXT %}
            <div>{{ post.title }}</div>
            {% else %}

            <a href="{{ post.content }}"><div>{{ post.title }}</div></a>

            {% endif %}
            <div>
                <a href="{{ post.get_absolute_url }}"><span class="tiny-font">comments</span></a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}


{% block sidebar %}
<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-5 d-none d-sm-inline"><h1>r/{{ sub.name }}</h1></span>
</a>
<a href="{% url 'post-create' sub.pk %}">Submit new post</a>
<p><strong></strong> {{ sub.description }}</p>
<p><strong>Owner:</strong> {{ sub.owner }}</p>
<p><strong>Created:</strong> {{ sub.datetime_created }}</p>
<p><strong>Members:</strong> {{ sub.member_count }}</p>
<p><strong></strong> {{ sub.sidebar }}</p>
{% comment %} <p><strong></strong> {{ sub_submission_text }}</p> {% endcomment %}
{% endblock  %}
